<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605210016023-f3jieqs8t7khokhpd6soqp7vrv89s463.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605210016023-f3jieqs8t7khokhpd6soqp7vrv89s463</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605210016023-qqgcpmajl6ve6m01s435ai74obqrc9g8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqnFHgVCF4BH4p_9QZV01TBD_DGlckAO8</string>
	<key>GCM_SENDER_ID</key>
	<string>605210016023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viram.customertoken</string>
	<key>PROJECT_ID</key>
	<string>android-e98dd</string>
	<key>STORAGE_BUCKET</key>
	<string>android-e98dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605210016023:ios:497f1c0b292fe50c409f52</string>
	<key>DATABASE_URL</key>
	<string>https://android-e98dd.firebaseio.com</string>
</dict>
</plist>